<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>猫阅读后台管理</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/src/css/admin/dashboard.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!--弹框插件-->
    <link href="http://cdn.bootcss.com/remodal/1.1.1/remodal.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/remodal/1.1.1/remodal-default-theme.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/bookManager/">猫阅读</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/bookManager/">书籍管理<span class="sr-only">(current)</span></a></li>
                    <li><a href="/userManager/">用户管理</a></li>
                    <li><a href="/datastatistics/">数据统计</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="app">              
                <ol class="breadcrumb">
                    <li><a href="/bookManager/">作品管理</a></li>
                    <li class="active">[[bookName]]</li>
                </ol>
                <ul class="nav nav-tabs">
                    <li><a v-bind:href="'/editbookinfo/'+bookId">作品设置</a></li>
                    <li><a v-bind:href="'/WriteChapter/'+bookId">草稿箱</a></li>
                    <li><a v-bind:href="'/publish/'+bookId">已发布章节</a></li>
                    <li class="active"><a class="active" href="#">评论管理</a></li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <th>用户名</th>
                                <th>评论标题</th>
                                <th>评论内容</th>
                                <th>评论类型</th>
                                <th>评论时间</th>
                                <th>操作</th>
                            </tr>
                            <tr v-for="item in items">
                                <td>[[item.userName]]</td>
                                <td>[[item.commentTitle]]</td>
                                <td>[[item.commentContent]]</td>
                                <td>[[item.commentType]]</td>
                                <td>[[item.commentTime]]</td>
                                <td>
                                    <a href="#modal" v-on:click="editCommentState(item)">管理</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="remodal" class="remodal text-left" data-remodal-id="modal">
                    <button data-remodal-action="close" class="remodal-close"></button>
                    <div style="border-bottom: solid 1px #E6E6E6; margin-bottom: 20px;">
                        <h3>评论管理</h3>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>是否置顶</label>
                            <input v-model="editCommentStick" id="commentStick" type="checkbox" class="form-control">
                        </div>
                        <div class="form-group col-sm-2">
                            <label>是否精华</label>
                            <input v-model="editCommentEssence" id="commentEssence" type="checkbox" class="form-control">
                        </div>
                        <div class="form-group col-sm-2">
                            <label>禁止显示</label>
                            <input v-model="editIsShow" id="isShow" type="checkbox" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div v-on:click="saveCommentState" class="btn btn-primary">
                                保存更改
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="text-right" style="margin-bottom: 50px;">
                    <span>页数:[[numPage]]/[[pageNumber]]</span>
                    <button v-on:click="turnPage(numPage-1)" type="button" class="btn btn-primary" style="margin-left: 10px;">上一页</button>
                    <button v-on:click="turnPage(numPage+1)" type="button" class="btn btn-primary" style="margin-left: 5px;">下一页</button>
                </nav>
            </div>
        </div>
    </div>
    <script src="/static/src/js/lib/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/remodal/1.1.1/remodal.js"></script>
    <script type="text/javascript">

    function getBookId(){
            var url=window.location.href;
            var s=url.split('/');
            var bookId;
            for (x in s){
            var bookIdTest = new RegExp("^[0-9]+$").test(s[x]);
                if (bookIdTest==true){
                    bookId=parseInt(s[x]);
                    return bookId;
                }
            }
        }

    var bookId = getBookId();

    var commentManager = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",
        data: {
            numPage: 1,
            pageNumber: "",
            bookName: "",
            bookId: bookId,

            editCommentId: "",
            editIsShow: "",
            editCommentStick: "",
            editCommentEssence: "",

            items: [{
                userName: "",
                commentTitle: "",
                commentContent: "",
                commentType: "",
                commentTime: "",
            }]
            },
            methods: {
                turnPage: function (numPage) {
                    if(numPage<=commentManager.pageNumber&&numPage>=0)
                    {
                        $.get("/CommentManagerViewAPI/", {
                            bookId: commentManager.bookId,
                            numPage: numPage
                        }, function(data) {
                            data = $.parseJSON(data);
                            commentManager.numPage = numPage;
                            commentManager.items = data.commentManagerItems;
                        });
                    }
                },
                editCommentState: function(comment) {
                        commentManager.editCommentId = comment.id;
                        commentManager.editCommentStick = comment.commentStick;
                        commentManager.editCommentEssence = comment.commentEssence;
                        commentManager.editIsShow = comment.isShow;
                },
                saveCommentState: function() {
                     $.get("/EditCommentManagerViewAPI/",{
                            bookId: commentManager.bookId,
                            commentId: commentManager.editCommentId,
                            commentStick: commentManager.editCommentStick,
                            commentEssence: commentManager.editCommentEssence,
                            isShow: commentManager.editIsShow
                        }, function(){
                            console.log("ok");
                            $('#remodal').remodal().close();
                            window.location.href = "/commentManager/" + commentManager.bookId;
                        });
                }
            }
        });

     $.get("/CommentManagerViewAPI/",{
            bookId: commentManager.bookId,
            numPage: commentManager.numPage
        }, function(data){
            data = $.parseJSON(data);
            commentManager.bookName = data.bookName;
            commentManager.items = data.commentManagerItems;
            commentManager.pageNumber = data.pageNumber;
        });
    </script>
</body>

</html>
