 	<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.36,user-scalable=no,minimal-ui">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="/static/src/css/reset.css">
		<link rel="stylesheet" href="/static/src/css/catalogue.css">
		<title>猫阅读</title>
	</head>
	<body>
		<div id="root">
			<div class="header" id="header">
				<div class="headerFirst">
					<div class="headerLogo">
							.<!-- 网站logo -->
					</div>
					<div class="headerNav">
						<a href="/">首页</a>
						<a href="/library/">书库</a>
						<a href="/rank/">排行</a>
						<a href="/payContail/">充值</a>
					</div>
				</div>
				{% if not request.user.is_authenticated %}
				<div class="headerLogin" id="headerLogin">
					<a href="/login/" class="loginText">登陆</a>
					<a href="#"><img src="/static/src/img/icon/wechat.jpg"></a>
					<a href="#"><img src="/static/src/img/icon/qq.jpg"></a>
					<a href="#"><img src="/static/src/img/icon/baidu.jpg"></a>
					<a href="#"><img src="/static/src/img/icon/weibo.jpg"></a>
				</div>
				{% else %}
				<div class="headerLogin" id="headerLogin">
					<a href="/center/"><img src="/static/src/img/icon/writter.jpg"></a>
				</div>
				{% endif %}
			</div>
			<!-- header结束 -->
			<div class="middle">
				<div class="content" id="content">
					<div class="navRoute" id="navRoute">
					<a href="../首页.html" class="navHome"></a><span class="navjiantou"></span><a v-bind:href="'/books/'+[[ bookId ]]+'/'" class="navTxt" id="bookName">[[ bookName ]]</a>	<!-- href绑定url -->
				</div>
					<div class="catalogue">
						<div class="ctgHeader">
							<span id="correctOrder" class="ctgPositive ctg ctgActive" v-on:click="turnOrder('true')">正序</span>
							<span id="invertedOrder" class="ctgInverted ctg" v-on:click="turnOrder('false')">倒序</span>
						</div>
						<ul class="showCharpter" id="showCharpter">
							<li v-bind:class="{payCharpter: chapterList.chaptersType === 1}" v-for="chapterList in chapterLists">
								<a v-bind:href="'/books/'+[[ bookId ]]+'/'+'chapters/'+[[ chapterList.chaptersId ]]+'/'">第<span>[[ chapterList.chaptersId ]]</span>章: [[ chapterList.chaptersName ]]</a>
							</li>
							<!-- a链接绑定Id -->
						</ul>

					</div>
					<div class= "ctgChoose">
						<span class="ctgPre ctgBut"  v-on:click="turnPage(numPage-1)">上一页</span>
						<span class="ctgMore ctgBut" id="ctgMore">
							[[ numPage ]] / [[ pageNumber ]]页
							<img src="/static/src/img/icon/caShow.jpg">
							<select id="selectNumPage" class="ctgSelect" name="items">
								<option v-for="i in pageNumber" class="option">[[ i ]]</option>
							</select>
						</span>
						<span class="ctgNext ctgBut" v-on:click="turnPage(numPage+1)">下一页</span>
					</div>
				</div>
				<!-- content结束 -->

			</div>
			<!-- middle结束 -->
			<div class="footer">
				<p class="footerTit">关于猫阅读  联系我们</p>
				<p class="footerTxt">客服邮箱：maoyuedu@maoyuedu.com</p>
				<p class="footerTxt">客服电话：010-12345678</p>
				<p class="footerTxt">客服QQ：123456789</p>
				<p class="footerTxt">京ICP证123456号 京ICP备123456号-1</p>
				<p class="footerTxt">Copyright © 2017 maoyd.com All rights reserved.</p>
			</div>
			<!-- footer结束 -->
		</div>
		<!-- root结束 -->
	<script src="/static/src/js/lib/zepto.min.js"></script>
	<script src="/static/src/js/lib/vue.min.js"></script>
	<script>
	function getBookId(){
    var url=window.location.href;
    var s=url.split('/');
    var bookId;
    for (x in s){
    var bookIdTest = new RegExp("^[0-9]+$").test(s[x]);
        if (bookIdTest==true){
            bookId=parseInt(s[x]);
            return bookId;
        }
    }
  }
  var url = "/ChaptersViewAPI/";

  var content = new Vue({                                        //章节列表绑定
            el: "#content",
            delimiters: ['[[', ']]'],
            data: {
                    chapterLists: [],
                    bookId: getBookId(),                                          //此处的bookId来自解析本页面url
            		numPage: 1,
            		pageNumber: "",
            		isOrder: true,
                    bookName: ''
            },
            methods: {
					turnPage: function (numPage) {
						if(numPage <= content.pageNumber && numPage > 0)
						{
							content.numPage = numPage;
							$.get(url,
							{
								"bookId": content.bookId,
								"numPage": content.numPage,
								"isOrder": content.isOrder
							},
							function(data){
								data = $.parseJSON(data);
								show(data);
							});
						}
					},
					turnOrder: function(order){
							content.isOrder = order;
							if ("true" == order){
                            	$("#correctOrder").addClass("ctgActive").siblings().removeClass("ctgActive");
							}
							else if("false" == order){
                            	$("#invertedOrder").addClass("ctgActive").siblings().removeClass("ctgActive");
							}
							$.get(url,
							{
								"bookId": content.bookId,
								"numPage": content.numPage,
								"isOrder": content.isOrder
							},
							function(data){
								data = $.parseJSON(data);
								show(data);
							});
					}
            }
    });


    //页面加载时的请求
    $.get(url,
    	{
        "bookId": content.bookId,
        "numPage": content.numPage,
        "isOrder": true
		},
		function(data){
				data = $.parseJSON(data);
				content.pageNumber = data.pageNumber;
				<!--maxPage = Math.ceil(data.chaptersNumber/10);-->
				show(data);
    });

	$("#selectNumPage").change(function(){
		var numPage = $("#selectNumPage").val();
		numPage = parseInt(numPage);
		content.numPage = numPage;
		$.get(url,
		{
			"bookId": content.bookId,
			"numPage": content.numPage,
			"isOrder": content.isOrder
		},
		function(data){
			data = $.parseJSON(data);
			show(data);
		});
	});



     //数据绑定函数
    function show(data){
            content.chapterLists = data.chaptersList;
            content.bookName = data.bookName;
    }
	</script>
	</body>
</html>
