.book-id{
	font-size: 48px;
	display: inline;
	color: #898989;
	line-height: 130px;
	font-weight: 400;
	padding-left: 104px;
	margin-right: 10px;
}

.myBook{
	background: url(/static/src/img/star.png) no-repeat 44px;
}

.mybook-ul{
	padding: 34px 10px 34px 34px;
	border-bottom: 4px solid #DDDDDD;
	overflow: hidden;
	display: block;
}


.watching-book{
	padding: 34px;
	border-bottom: 4px solid #DDDDDD;
	overflow: hidden;
	display: block;
}

.watching-book-id{
	position: absolute;
	right: 0;
}

.book-mydesc {
    font-size: 40px;
    font-family: "微软雅黑";
    line-height: 4.3rem;
    overflow: hidden;
    margin: 1rem 0 0 0;
    color: #636563;
    display: -webkit-box;
    height: 5rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.book-mydesc span{
	color: #000000;
}

.book-button{
	margin-top: 1rem;
	height: 8rem;
}

.startReading{
	background-color: rgb(229, 57, 53);
	color: #ffffff;
	height: 100%;
	width: 19.2rem;
	font-size: 36px;
	border-radius: 5% 5%;
	font-weight: 300;
}

.watchNew{
	height: 100%;
	font-weight: 320;
	width: 28.8rem;
	font-size: 36px;
	background-color: rgb(250, 247, 242);
	border-radius: 5% 5%;
	float: right;
	border: none;
}

.headerRead{
	width: 100%;
	height: 126px;
	background-color: #FFF;
	font-size: 40px;
	line-height: 126px;
	margin: 0;
}

.headerText{
	color: #000;
	font-style: 300;
}

.headerLast{
	border-right: solid 5px #DDD;
	margin-right: 15px;
	margin-left: 20%;
}

.headerWarn{

}

.userName{
	background: url(/static/src/img/avator.png) no-repeat 33px;
	margin-right: 31px;
	float: right;
	padding-left: 100px;
}

.myWallet{
	background: url(/static/src/img/wallet.png) no-repeat 44px;
}

.myMoney{
	padding: 20px 20px 20px 20px;
}

.moneyKind{
	font-size: 45px;
	margin-left: 45px;
}

.moneyKind li{
	margin-top: 20px;
	height: 8rem;

}

.mkind{
	margin-right: 135px;
}

.mkind2{
	margin-right: 90px;
}

.mnumber{
	font-family: "微软雅黑";
	font-size: 60px; 
	font-style: 900;
	margin-right: 45px;
}

.payMoney{
	float: right;
	margin-right: 10%;
}

.myWriting{
	background: url(/static/src/img/writing.png) no-repeat 33px;
}

.nothing{
	font-size: 45px;
	padding: 40px 0px 40px 90px;
	color: #AAA;
}

.content{
	padding-bottom: 0;
}

.lastcontent{
	padding-bottom: 50px;
}

